* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v25840_80456 {
  width: 100%;
  height: 769px;
  background: rgba(244,246,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v25840_80458 {
  width: 100%;
  height: 536px;
  background: url("../images/v25840_80458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 112px;
  overflow: hidden;
}
.v25840_80459 {
  width: 100%;
  height: 208px;
  background: url("../images/v25840_80459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25840_80460 {
  width: 100%;
  height: 40px;
  background: url("../images/v25840_80460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25840_80461 {
  width: 100%;
  height: 24px;
  background: url("../images/v25840_80461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v25840_80463 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Averta Std CY;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v25840_80464 {
  width: 75px;
  height: 40px;
  background: url("../images/v25840_80464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 867px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v25840_80467 {
  width: 141px;
  height: 40px;
  background: url("../images/v25840_80467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 958px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v25840_80470 {
  width: 115px;
  height: 40px;
  background: url("../images/v25840_80470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1115px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v25840_80473 {
  width: 100%;
  height: 152px;
  background: rgba(255,255,255,1);
  padding: 16px 24px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 5.354551315307617px 19px rgba(0.29411765933036804, 0.38823530077934265, 0.886274516582489, 0.07999999821186066);
  overflow: hidden;
}
.v25840_80474 {
  width: 100%;
  height: 120px;
  background: url("../images/v25840_80474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 24px;
  overflow: hidden;
}
.v25840_81577 {
  width: 100%;
  height: 64px;
  background: url("../images/v25840_81577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v25840_80486 {
  width: 270px;
  height: 40px;
  background: url("../images/v25840_80486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 456px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v25840_80490 {
  width: 100%;
  height: 312px;
  background: url("../images/v25840_80490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 0px;
  box-shadow: 0px 5.354551315307617px 19px rgba(0.29411765933036804, 0.38823530077934265, 0.886274516582489, 0.07999999821186066);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v25840_80492 {
  width: 100%;
  height: 216px;
  background: url("../images/v25840_80492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
